root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.{java,xml,yml,yaml,properties,sql,md,json}]
indent_style = space

[*.java]
indent_size = 4

[*.{xml,yml,yaml,json}]
indent_size = 2
